<div class="Busqueda">
    <h1>Nuestro objetivo</h1>
El objetivo de esta aplicación web es centralizar y exponer de forma accesible, ordenada y verificable los registros de revistas científicas argentinas recolectados desde diversas bases de datos académicas.
Se busca ofrecer una herramienta que no solo facilite la consulta de estos datos, sino que también permita su actualización periódica, verificación por parte del usuario y descarga en formatos reutilizables.

<br></br>

<h1>Como lo hacemos</h1>
Desarrollamos una aplicación web utilizando Node.js, Express y EJS con arquitectura MVC, combinada con Bootstrap para asegurar una interfaz responsiva. Los datos se obtienen a través de técnicas de web scraping (mediante Puppeteer) y consumo de APIs, y se almacenan en formatos CSV y JSON. La plataforma permite visualizar los datos por base de datos o en un listado unificado, muestra el estado de actualización de cada fuente y restringe las acciones críticas mediante autenticación.
</div>
