<div class="Busqueda">
    <h1>Nuestro objetivo</h1>
El objetivo de esta aplicación web es centralizar, exponer de forma accesible, ordenada y verificable los registros de revistas científicas argentinas recolectados desde diversas bases de datos de bibliografía cientifica. Se busca ofrecer una herramienta que no solo facilite la consulta de estos datos, sino que también permita su actualización periódica, verificación por parte del usuario y descarga en formatos reutilizables.

<br></br>

<h1>Cómo lo hacemos</h1>
Desarrollamos una aplicación web utilizando Node.js, Express y EJS con arquitectura MVC, combinada con Bootstrap para asegurar una interfaz responsiva. Los datos se obtienen a través de técnicas de web scraping (mediante Puppeteer) y consumo de APIs, y se almacenan en formatos CSV y JSON. La plataforma permite visualizar los registros por base de datos y en un listado unificado. Muestra el estado de actualización de cada fuente y restringe las acciones críticas mediante autenticación.

<br></br>
<h1>Quiénes somos</h1>
Este desarrollo realizado por Franco Ariel Figueroa y Juan Leandro Gauna forma parte del proyecto BARCA (Base abierta de revistas cientificas argentinas) coordinado por Viviana Martinovich y Diego Zalazar Madeo, desde la cátedra Taller de Sistemas de Gestión Editorial y Ciencia Abierta, de la Licenciatura en Sistemas de la Universidad Nacional de Lanús, Buenos Aires, Argentina.
</div>
