<div class="Busqueda">
    <h1>Nuestro objetivo</h1>
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia blanditiis ea recusandae quod fuga, voluptas optio voluptates magni reiciendis et voluptatem ut pariatur rem quo obcaecati similique nemo ducimus eum.

<br></br>

<h1>Como lo hacemos</h1>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, eum. Facilis dolorem voluptates exercitationem, sequi rem dicta ut quod numquam et explicabo, ipsam porro dolores beatae illo minima. Eaque, quia!
</div>