<div class="Busqueda">
<p>Ingrese sus datos para iniciar sesión (solo personal autorizado puede iniciar sesión)</p>

<form action="/iarca/login/" method="post">

    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required>
    <br><br />

    <label for="contrasenia">Contraseña:</label>
    <input type="password" id="contrasenia" name="contrasenia" required>
    <br><br />

    <button type="submit">Enviar</button>

</form>
</div>
